@media screen and (min-width: 1000px) {
    #home-page-box-1 {
        width: 100%;
        height: 700px;
        position: relative;
        display: block;
        background: url(../img/site_pc_box_1_texture.png);
    }
    #home-page-box-1 .content {
        width: 1000px;
        height: 700px;
        left: calc(50% - 500px);
        position: relative;
    }
    #home-page-box-1 .content .title1 {
        padding-top: 100px;
        line-height: 100px;
        font-weight: 800;
        font-size: 76px;
        text-align: center;
    }
    #home-page-box-1 .content .title1 span {
        background: #40A3FF;
        background: linear-gradient(to left, #40A3FF 0%, #00FF94 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #home-page-box-1 .content .pretitle {
        color: white;
        font-size: 18px;
        text-align: center;
        line-height: 30px;
    }
    #home-page-box-1 .content .img {
        width: 100%;
        height: calc(700px - 230px);
        background: url(../img/site_pc_box_1_img.png) no-repeat;
        background-size: 100%;
    }
}